[package]
name = "launcher"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.81"
bytes = "1.6.0"
clap = { version = "4.5.4", features = ["derive"] }
env_logger = "0.11.3"
hex = "0.4.3"
log = "0.4.21"
regex = "1.10.4"
reqwest = { version = "0.12.3", features = ["blocking","json"] }
serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.115"
sha-1 = "0.10.1"
toml = "0.8.12"
walkdir = "2.5.0"

[dependencies.uuid]
version = "1.6.1"
features = [
    "v4",                # Lets you generate random UUIDs
    "fast-rng",          # Use a faster (but still sufficiently random) RNG
    "macro-diagnostics", # Enable better diagnostics for compile-time UUIDs
]
